<div class="grid fluid">
  <div class="col-12">
    <app-breadcrumbs></app-breadcrumbs>
  </div>
  <div class="col-12 flex justify-content-between">
    <div class="flex gap-3">
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search" />
        <input
          type="text"
          [(ngModel)]="searchParam"
          pInputText
          placeholder="Search"
        />
      </p-iconField>
      <p-button label="Поиск" (click)="onSearch()"></p-button>
    </div>
    <p-button icon="pi pi-plus" label="Добавить курс"></p-button>
  </div>
  <div class="col-12 flex flex-column gap-3">
    @for (course of courses(); track course.id) {
      <app-course [course]="course" (change)="onChange($event)" (delete)="onDelete($event)"></app-course>
    }
  </div>
  <div class="col-12 flex justify-content-center mb-4">
    <p-button
      [outlined]="true"
      severity="secondary"
      label="Загрузить ещё"
      styleClass="test"
      (click)="onLoad()"
    ></p-button>
  </div>
</div>
