::ng-deep .btn.p-button.p-button-sm .p-button-icon {
  font-size: 1rem;
  padding: 0 0.5rem;
}
::ng-deep .btn.p-button .p-button-label {
  padding-right: 0.5rem;
}
::ng-deep .p-breadcrumb ul li .p-menuitem-link .p-menuitem-icon {
  margin-right: 0.5rem;
}
::ng-deep .p-breadcrumb .p-breadcrumb-list li .p-menuitem-link {
  gap: 0.5rem;
}
::ng-deep .p-card .p-card-content {
    padding: 0;
}
::ng-deep .p-card .p-card-body {
    padding: 0;
}
