<form class="auth-container" #form="ngForm" (ngSubmit)="onSubmit(form)">
  <p-card>
    <div class="grid fluid auth-card">
      <div class="col-12">
        <h1>Вход</h1>
      </div>
      <div class="col-12">
        <span class="p-float-label">
          <input
            pInputText
            requiredField
            ngModel
            required
            email
            inputId="email"
            id="email"
            type="text"
            name="email"
          />
          <label for="email">Логин</label>
        </span>
      </div>
      <div class="col-12">
        <span class="p-float-label">
          <p-password
            requiredField
            ngModel
            required
            inputId="password"
            name="password"
            [toggleMask]="true"
            [feedback]="false"
            appendTo="body"
          />
          <label for="password">Пароль*</label>
        </span>
      </div>
      <div class="col-12 flex justify-content-between align-items-center">
        <a href="" style="color: #3b82f6">Забыли пароль?</a>
        <p-button
          disabled="{{ !form.form.valid }}"
          type="submit"
          label="Войти"
          *ngIf="form"
        ></p-button>
      </div>
    </div>
  </p-card>
</form>
