@if (course()) {
<div class="grid fluid">
  <div class="col-10 flex-auto">
    <span class="p-float-label">
      <p-inputNumber
        [(ngModel)]="course().duration"
        mode="decimal"
        [showButtons]="true"
        inputId="duration"
        [min]="0"
        [max]="1000"
      >
      </p-inputNumber>
      <label for="duration">
        <span>Продолжительность</span>
      </label>
    </span>
  </div>
  <div class="col-2">
    <span
      style="vertical-align: -webkit-baseline-middle; white-space: nowrap"
      >{{ course().duration || 0 | duration }}</span
    >
  </div>
</div>
}
